<section class="fdb-block p-5">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
            <p class="head-sec">Getting Started in 4 Steps</p>
            <img alt="example-image" style="width:15%;height:3px;margin-top: -20px" src="assets/images/15.png" class="img-fluid">
        </div>
    </div>
    <owl-carousel-o [options]="customOptions" id="fables-partner-carousel">
        <ng-template carouselSlide>
            <div class="container">
                <div class="row pad-steps justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-6 ml-md-auto">
                        <p class="h1 font-weight-normal lh-15">Step 1</p>
                        <h2 class="onelap-color lh-15">You will Need a Hardware</h2>
                        <p class="font-weight-normal lh-15 h5 mb-4">
                            A Hardware is needed to transmit the real time<br> location of the vehicle to Onelap cloud server
                        </p>
                        <button type="button" class="btn btn-primary mt-1" style="border-radius: 50px;">Select your
                            Hardware</button>
                    </div>
                    <div class="col-12 col-md-4 ml-md-auto">
                        <img alt="image" class="img-fluid" style="max-width: 80%; margin:auto;" src="assets/images/step1.png">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="container">
                <div class="row pad-steps justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-6 ml-md-auto">
                        <p class="h1 font-weight-normal lh-15">Step 2</p>
                        <h2 class="onelap-color lh-15">You will Need a Sim Card</h2>
                        <p class="font-weight-normal lh-15 h5 mb-4">
                            The hardware needs internet connectivity to<br> send the data over GSM network</p>
                        <button type="button" class="btn btn-primary mt-1" style="border-radius: 50px;">Select your
                            plan</button>
                    </div>
                    <div class="col-12 col-md-4 ml-md-auto">
                        <img alt="image" class="img-fluid" style="max-width: 87%; margin:auto;" src="assets/images/step2.png">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="container">
                <div class="row pad-steps justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-6 ml-md-auto">
                        <div class="box">
                            <p class="h1 font-weight-normal lh-15">Step 3</p>
                            <h2 class="onelap-color lh-15">Install the hardware</h2>
                            <p class="font-weight-normal lh-15 h5 mb-4">
                                Get the hardware installed with a help of any<br> local technician near you</p>
                        </div>
                        <button type="button" class="btn btn-primary mt-1" style="border-radius: 50px;">Installation
                            Guide</button>
                    </div>
                    <div class="col-12 col-md-4 ml-md-auto">
                        <img alt="image" class="img-fluid" style="margin:auto;" src="assets/images/step3.png">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="container">
                <div class="row pad-steps justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-6 ml-md-auto">
                        <div class="box">
                            <p class="h1 font-weight-normal lh-15">Step 4</p>
                            <h2 class="onelap-color lh-15 ">Activate the hardware </h2>
                            <p class="font-weight-normal lh-15 h5 mb-4">
                                Download Onelap Telematics App from playstore<br> and signup and call our customer support team </p>
                        </div>
                        <button type="button" class="btn btn-primary mt-1" style="border-radius: 50px;">Download the
                            app</button>
                    </div>
                    <div class="col-12 col-md-4 ml-md-auto">
                        <img alt="image" class="img-fluid" style="max-width: 97%; margin:auto;" src="assets/images/step4.png">
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>

</section>