h1 {
    color: #000000;
    font-weight: 400
}

h3 {
    color: #33C09B;
    font-weight: 400;
    font-size: 100px;
}

p {
    color: black;
}

.border-bottom {
    border-bottom: 4px solid #dee2e6 !important;
    margin-left:3%;
    margin-right: 3%;
}
@media (max-width: 576px){
.border-bottom {
  border-bottom : 4px solid #dee2e6 ;
}
}
.setpad {
    padding-left: 25%;
    padding-right: 25%;
}

@media (max-width: 768px) {
    .setpad {
        padding-left: 18%;
        padding-right: 18%;
    }
}

.border-primary {
    border-color: #33c09B !important;
}

.border-primary-opacity {
    border-color: #33c09B4D !important;
}

.dot-style {
    font-weight: 100;
    color: #000000;
    cursor: pointer;
}

.bookmarks {
    margin-bottom: 5%;
    margin-top: 5%;
}

@media (min-width: 1400px) {
    .bookmarks {
        margin-bottom: 5%;
        margin-top: 2%;
    }
}

.bookmarks ul {
    margin: auto;
    width: auto;
}

.bookmarks ul li {
    display: inline-block;
    color: #666666;
    font-size: 15pt;
    padding: 0 10px;
    cursor: pointer;
    border-color: #33c09B4D !important;
}

@media (max-width: 767px) {
    .bookmarks ul li {
        padding: 11px 11px;
        font-size: 12px;
        text-align: center;
        display: block;
    }
}

.bookmarks ul li.active {
    color: #000;
    border-color: #33c09B !important;
}

@media (max-width: 767px) {
    .bookmarks ul li.active {
        display: block;
    }
}

.owlExample .item {
    width: 400px;
    height: 200px;
    margin: auto;
    background: #6c6ea0;
    padding: 20px;
}

@media (max-width: 767px) {
    .owlExample .item {
        width: 200px;
        height: 100px;
    }
}

.owlExample .item p {
    margin: 0;
    font-family: 'Arial';
    font-size: 50px;
    color: #fff;
    text-align: right;
}

.owlExample .owl-controls {
    position: absolute;
    top: 60px;
    width: 100%;
}

@media (max-width: 767px) {
    .owlExample .owl-controls {
        top: -90px;
    }
}

.owlExample .owl-controls .owl-nav div {
    position: absolute;
    font-family: 'Arial';
    font-size: 30px;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition: all .4s linear;
}

@media (max-width: 767px) {
    .owlExample .owl-controls .owl-nav div {
        font-size: 16px;
    }
}

.owlExample .owl-controls .owl-nav div:hover {
    letter-spacing: 2px;
    color: #ff1053;
}

.owlExample .owl-controls .owl-nav div.owl-prev {
    left: 50px;
}

@media (max-width: 767px) {
    .owlExample .owl-controls .owl-nav div.owl-prev {
        left: 20px;
    }
}

.owlExample .owl-controls .owl-nav div.owl-next {
    right: 50px;
}

@media (max-width: 767px) {
    .owlExample .owl-controls .owl-nav div.owl-next {
        right: 20px;
    }
}