<section class="sticky sticky2">
  <div class="text">
    <h1 class="animated fadeInRight">Delivery<br>
      Service<br>
      Monitoring</h1>
    <h2 class="animated fadeInLeft">
      Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
    <p><a class="btn btn-primary mt-4" href="">Learn more</a></p>
  </div>
</section>

<section class="stickt sticky2">

  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Trace every Delivery</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Check if delivery is made on time
      </h2>
      <p>Since the product has to be delivered quickly, any delays would hamper customer satisfaction.
        This will reduce the possibility of customer reordering from you in the future, so to ensure
        that there is no unnecessary delay and the product is delivered within the stipulated time limit
        you have the access to the real time location of each and every delivery person separately. This
        data helps you to manage defaulters and ensure optimum service to the customer.
      </p>
    </div>
  </div>
  <hr>

  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Appraise your Employees</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Evaluate performance of your personnel
      </h2>
      <p>The employees could be judged on the basis of criteria such as delivery time, stoppages made,
        maximum/minimum speeds, fuel consumption and the route taken and whether it was optimum or not.
        Since the employees are aware of the presence of a monitoring system the likelihood of any
        mistake is decreased.
      </p>
    </div>
  </div>

  <hr>

  <div class=" row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Estimate best routes and
        minimise cost</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Large database helps you to optimize performance
      </h2>
      <p>Since you have access to data from multiple vehicles of your fleet you can estimate the total
        cost incurred on delivery and the data of routes that were taken can be studied to find out the
        best possible way to reach a particular destination in the shortest time so that the delivery
        performance is optimised and customer satisfaction is increased.</p>
    </div>
  </div>
  <div class="appicationpa">
    <div class="card">
      <div class="row container">
        <div class="col-12 col-md-6 col-lg-3"><img src="./images/applications/delivery boy png-100.jpg"
            class=" img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-9 p-3">
          <h2 class="text-right">Choose the Hardware best suited for your Business</h2>
          <p class="text-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud </p>
          <button type="button" class="btn btn-primary">Select
            Hardware</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1> Realize increased of
        your business </h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
    </div>
  </div>
  <hr>

  <h3>OneLap News</h3>
  <div class="container">
    <div class="block-content hw-card">
      <div class="row card-wrap">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Bike Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/remotelock.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Car Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/livetracking.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              AIS 140 Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/step1.png">
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>