<section class="bg sticky sticky2">

  <div class="text">
    <h1 class="animated fadeInLeft">Municipal<br>
      Corporations<br>
      and PWD</h1>
    <h2 class="animated fadeInRight">
      Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
    <p><a class="btn btn-primary mt-4" href="">Learn More</a></p>
  </div>

</section>

<section class="sticky sticky2">
  <div>
    <div class=" row ">
      <div class="col-12 col-md-6 col-lg-6">
        <h1> Track all the fleet</h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5 ">
        <h2 class="appicationpara">Track each and every vehicle separately on a single platform
        </h2>
        <p>The Municipal Corporation usually owns a large number of vehicles for the various day-to-day
          activities that it manages. Managing such a huge fleet is not an easy challenge but fitting
          the vehicles with Onelap allows you to keep a check on every vehicle separately and allows
          you to manage your resources in an efficient manner.</p>
      </div>
    </div>
    <hr>

    <div class=" row ">
      <div class="col-12 col-md-6 col-lg-6">
        <h1>Optimization of resources
        </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 class="appicationpara">Use detailed and precise reports to improve performance
        </h2>
        <p>With data such as Speed,Distance covered, Route History etc. you can estimate the cost of
          operation that is being carried out and use it effectively to come up with measures to
          optimize it for your benefit. This can also be used to review performances of the employees
          and monitor any non-compliance to the guidelines provided to them
        </p>
      </div>
    </div>

    <hr>

    <div class=" row">
      <div class="col-12 col-md-6 col-lg-6">
        <h1>Manage your resources
          correctly</h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 class="appicationpara">Deploy the correct service at the right place and time </h2>
        <p>With the precise location of each and every vehicle of your fleet you can make sure that if a
          complaint or request is received from a particular area, the resource or service provider
          which is closest to that location responds to that request, so that the service is prompt
          and unnecessary wastage of resources available to you is reduced.</p>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="row container">
          <div class="col-12 col-md-6 col-lg-3"><img src="./images/applications/Asset 1-100.jpg" class="img-fluid">
          </div>
          <div class="col-12 col-md-6 col-lg-9 p-3">
            <h2 class="tetx-right">Choose the Hardware best suited for your Business</h2>
            <p class="tetx-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud </p>
            <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
              Hardware</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <h1> Maintainenece and Upkeep
        </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 class="appicationpara">Provide quick repair and maintainence service
        </h2>
        <p>If any vehicle from your fleet breaks downs or requires any sort of on-road maintainence you
          could easily send the vehicle's exact location to the repair team ridding them of the hassle
          required to locate the vehicle. This will reduce the time taken to repair vehicle and reduce
          the costs involved minimising losses.</p>
      </div>
    </div>
    <hr>

    <h3>OneLap News</h3>
    <div class="container">
      <div class="block-content hw-card">
        <div class="row card-wrap">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                Bike Trackers </div>
              <div class=" text-center">
                <img src="/images/step1.png">
              </div>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                Car Trackers </div>
              <div class=" text-center">
                <img src="/images/remotelock.png">
              </div>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                AIS 140 Trackers </div>
              <div class=" text-center">
                <img src="/images/livetracking.png">
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>


</section>