<div class="sticky sticky2">
  <section>
    <div class="text">
      <h1>Transportation<br>
        and Logistics<br>
        Business</h1>
      <h2>Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
      <p><a class="btn btn-primary mt-4" href="">Learn More</a></p>
    </div>
  </section>
</div>
<section class="sticky sticky2">

  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Tracking your entire fleet</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Access Real-Time Location and Route History of your fleet
      </h2>
      <p>Onelap's user-friendly app lets you access your vehicle's live location and travel history on the
        go. The highly sensitive Onelap chip sends the exact location of your vehicle so you can track
        every step of the journey and if your drivers are making any unnecessary stoppages, going too
        fast, too slow or taking any unnecessary detours.</p>
    </div>
  </div>
  <hr>

  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="headings">Reduce the Costs</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">With Extensive Data optimise the costs involved
      </h2>
      <p>With access to data such as Total distance covered, maximum speed, minimum speed and Idling time
        you can plan your next trip in an optimum manner so that your cost overruns are minimised and
        your performances optimised. This also helps to predict the fuel spend and how it could be
        effectively reduced.</p>
    </div>
  </div>

  <hr>

  <div class=" row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="headings" style="font-weight: 800;display: inline-block">Monitor your Personnel</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Train and Monitor your employees with Personalised Data
      </h2>
      <p>With access to extensive data like maximum/minimum speeds of every vehicle, you can monitor each
        driver separately and predict their driving habits so that any potentially harmful accidents due
        to driver negligence and related delays could be averted which can contribute to rising costs in
        this sector, so efficient monitoring could keep it under check and drivers can be trained to
        improve their performance.</p>
    </div>
  </div>
  <div>
    <div class="card1">
      <div class="row container">
        <div class="col-12 col-md-6 col-lg-3"><img src="./images/applications/Asset 4-100.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-9 p-3 ">
          <h2 class="text-right">Choose the Hardware best suited for your Business</h2>
          <p class="text-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud </p>
          <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
            Hardware</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="headings" style="font-weight: 800;display: inline-block">Minimise risk of theft</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Increased safety and fast tracking in case of any theft
      </h2>
      <p>Transport business is hugely dependent on the reputation and image of the brand so to safeguard
        the image, timely and secure transit of all the goods is necessary. Theft of the delivery
        vehicle is a source of major concern in this process. To safeguard against any such activity
        Onelap provides features such as Remote Engine Immobilisation and live tracking so you can keep
        a close eye on every movement of your assets.</p>
    </div>
  </div>
  <hr>

  <h3 class="headings">OneLap News</h3>
  <div class="container">
    <div class="block-content hw-card">
      <div class="row card-wrap">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Bike Trackers </div>
            <div class=" text-center">
              <img src="/images/step1.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Car Trackers </div>
            <div class=" text-center">
              <img src="/images/remotelock.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              AIS 140 Trackers </div>
            <div class=" text-center">
              <img src="/images/livetracking.png">
            </div>

          </div>
        </div>


      </div>

    </div>
  </div>

</section>