<section class="bg sticky sticky2">
  <div class="col-12 col-md-5">
    <h1>Construction<br>
      and heavy<br>
      equipments</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipisc-</p>
    <p><a class="btn btn-primary mt-4" href="">Learn More</a></p>
  </div>
</section>
<section class="sticky sticky2">
  <div class="row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1> Make better business
        decisions with</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
    </div>
  </div>
  <hr>

  <div class=" row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Track your fleet,
        anywhere on the</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
    </div>
  </div>

  <hr>

  <div class=" row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Integrate your
        systems seamlessly</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="row container">
        <div class="col-12 col-md-6 col-lg-3"><img src="./images/applications/Asset 6-100.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-9 p-3">
          <h2 class="text-right">Choose the Hardware best suited for your Business</h2>
          <p class="text-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud </p>
          <button type="button" class="btn btn-primary">Select
            Hardware</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1> Realize increased of
        your business </h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
    </div>
  </div>
  <hr>

  <h3 class="headings">OneLap News</h3>
  <div class="container">
    <div class="block-content hw-card">
      <div class="row card-wrap">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Bike Trackers </div>
            <div class=" text-center">
              <img src="/images/step1.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Car Trackers </div>
            <div class=" text-center">
              <img src="/images/remotelock.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              AIS 140 Trackers </div>
            <div class=" text-center">
              <img src="/images/livetracking.png">
            </div>

          </div>
        </div>


      </div>

    </div>
  </div>

</section>