<!-- Start video hero -->
<section class="banner-area">
    <div class="video-hero jquery-background-video-wrapper demo-video-wrapper">
        <video class="jquery-background-video" autoplay muted loop>
          <source src="assets/videos/001.mp4" type="video/mp4">
        </video>
        <div class="video-overlay"></div>
        <div class="page-width">
            <div class="video-hero--content">
                <h2>Managing fleet Madeeasy
                </h2>
                <p>Next Generation GPS tracking software assisting you to manage your assets from anywhere</p>
                <div class="text-center"> <button type="button" class="btn btn-primary ">Track
                      Now</button></div>
                <h5 class="text-center">
                    #IndiakaregaTrack
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- End video hero -->