<!-- Start video hero -->
<section class="banner-area">
    <div class="video-hero jquery-background-video-wrapper demo-video-wrapper">
        <video class="jquery-background-video" autoplay muted loop>
            <source src="assets/videos/001.mp4" type="video/mp4">
        </video>
        <div class="video-overlay"></div>
        <div class="page-width">
            <div class="video-hero--content">
                <h1 class="display-4 font-weight-bold">Managing <span class="onelap-color">fleet </span>Made Easy
                </h1>
                <p class="" style="color:#666666; font-size: 30px; line-height: normal;">Next Generation GPS tracking software assisting you to manage your assets from anywhere</p>
                <div class="text-center button-padding"> <button type="button" class="btn btn-primary cstm-btn">Track
                        Now</button></div>
                <p class="text-center h3" style="color: black;">
                    #IndiakaregaTrack
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End video hero -->