.card {
    border: 1px solid #ebebeb;
   
    margin-bottom: 35px;
}

.card-adaptive {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.card-icon {
    width: auto;
    width: 8.5rem;
    height: 7rem;
}
.cstm-btn {
    border: 1px solid rgba(0, 0, 0, 0.294);
    color: white;
    font-weight: normal;
    background-color:  #000000;
    margin: 0;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
.onelapscore {
    font-weight: normal;display: inline;color: rgba(0, 0, 0, 0.671);
}
.onelapscorepercent {
    font-weight: bolder;display: inline;color: #3390CB;
}
