.card {
    margin-bottom: 35px;
    border: solid 0.4 px #231f20;
  }
.card-title {
  font-family: SlatePro;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
 letter-spacing: normal;
  color: #000000;
}
.card-adaptive {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.card-icon {
    width: auto;
    width: 8.5rem;
    height: 7rem;
}
.cstm-btn {
    border: 1px solid rgba(0, 0, 0, 0.294);
    font-weight: normal;
    background-color:  #000000;
    margin: 0;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
.onelapscore p {
    font-family: SlatePro;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
     color: #4d4d4d;      
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #ffffff;

  }
  .full {
    color: #33bf9a;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color:  #33bf9a; }

 .category1 {
  position: absolute;
  top: 24px;
  left: 0;
  padding: 0px 10px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #33b9fa;
  height: 0;
  width: 160px;
  font-weight: bolder;
  text-align: center;
  
 } 
 .category2 {
  position: absolute;
  top: 24px;
  left: 0;
  padding: 0px 10px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ff4848;  ;
  height: 0;
  width: 160px;
  font-weight: bolder;
  text-align: center;
 }  

 