<!-- Contents 3 -->
<section class="fdb-block m-top-1 pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2>Best selling Bike Hardwares in India</h2>
                <img style="width:45%;height:2.5px" src="assets/images/15.png">
                <p class="lead">Onelap vehicle tracking system is universal. It’s currently integrated with more than1500 models of GPS tracking devices, including personal GPS trackers, automobile controllers and software-based "trackers" installed as mobile apps on
                    smartphones. Every minute our server center receives about half a million data packets from the tracking devices deployed worldwide</p>
            </div>
        </div>
    </div>
</section>
<div class="container section-padding">
    <div class="block-content hw-card">
        <div class="row mrgn card-wrap">
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        {{product.name}} </div>
                    <div class=" text-center">
                        <img class="card-icon" src="{{product.image}}">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Area Starts -->
<section class="feature-area pt-0 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 text-center">
                <h2>OneLap News</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-20 col-md-6">
                <div class="single-feature item-padding">
                    <img src="https://www.onelap.in/images/Why-ais140-gps-is-mandatory-Onelap-Blogs.png" class="w-100">
                    <h3 style="font-weight: 700;">How to track vehicle using gps??</h3>
                    <p class="description">The Indian Government over the past few years has worked extensively to incorporate components...... </p>
                </div>
            </div>
            <div class="col-lg-4 mb-20 col-md-6">
                <div class="single-feature item-padding">
                    <img src="https://www.onelap.in/images/Benifits-of-Geofencing-Onelap-blogs-1.png" class="w-100">
                    <h3 style="font-weight: 700;">Geo-fencing: Top 5 applications in GPS tracking system. </h3>
                    <p class="description">Geo-Fencing is a technology that permits the user to set up virtual perimeters......
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mb-20 col-md-6">
                <div class="single-feature item-padding">
                    <img src="https://www.onelap.in/images/Kashmir-to-kanya-kumari.png" class="w-100">
                    <h3 style="font-weight: 700;">Kashmir to Kanyakumari bike ride: A device every biker must have</h3>
                    <p class="description">Biking is a very common hobby in India which is followed very passionately and with dedication. Long-distance biking provides the riders with the thrills...... </p>
                </div>
            </div>
        </div>
        <a href="https://onelap.in/blog/"><button class=" btn btn-primary " type="button ">All News</button></a>
    </div>
</section>