<section class="banner_part2 fdb-block ">
    <div class="container resp-mt">
        <div class="text-center">
            <h2 class="color-fff">Request a Call Back</h2>
            <img alt="example-image" style="width:10%;height:1px" src="assets/images/15.png">
            <p>
                Our sales executive will call you in next 24 hours to understand your needs and to give you best deals and discounts
            </p>
        </div>
        <div class="container form-margin ">
            <form action="/sign_up" method="post">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="name" class="form-control" id="name" placeholder="Enter your Name" style="border-radius:10px">
                </div>
                <div class="form-group">
                    <label for="email">Email address*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Address" style="border-radius: 10px">
                </div>
                <div class="form-group">
                    <label for="Contact">
                        Contact
                        Number*</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" style="border-radius:10px" aria-describedby="Contact" placeholder="Enter you Conatct Number ">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <p class="form-control-plain text">I agree to personal data processing privacy policy
                    </p>
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>