<section class="banner_part2 fdb-block pt-0" id="callback">
    <div class="container resp-mt">
        <div class="text-center">
            <h2 class="color-fff">Request a Call Back</h2>
            <img alt="example-image" style="width:10%;height:1px" src="assets/images/15.png">
            <p style="margin-bottom: 1.8rem;">
                Our sales executive will call you in next 24 hours to understand your <br />needs and to give you <b>best deals and discounts</b>
            </p>
        </div>
        <div class="container form-margin ">
            <form action="/post" method="POST">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Enter your Name" style="border-radius:10px">
                </div>
                <div class="form-group">
                    <label for="email">Email address*</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Address" style="border-radius: 10px" required>
                </div>
                <div class="form-group">
                    <label for="phone">
                        Contact
                        Number*</label>
                    <input type="phone" name="phone" class="form-control" id="exampleInputEmail1" style="border-radius:10px" aria-describedby="Contact" placeholder="Enter you Conatct Number " required>
                </div>
                <div class="form-group form-check">
                    <button type="submit" (click)="ShowPop();" class="btn btn-primary" style="width: 100%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>