<section class=" fdb-block pt-0" id="callback" style="background-color: black;">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 text-center">
                    <h2 style="color: white;" class="head-sec">Request a CallBack</h2>
                    <p style="color: white;"> Our sales executive will call you in next 24 hours to understand your
                        needs and to<br> give you<strong>best deals and discounts</strong></p>
                </div>
            </div>
        </div>
        <div class="container form-margin ">
            <form id="gform" method="POST"
                            data-email="from_email@example.com"
                            action="https://script.google.com/a/onelap.in/macros/s/AKfycbxghynWuKCkm5aOugKh3qkC7iwPeMsTD0k1586w/exec"
                            onsubmit="return submitUserForm();">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input id="name" name="name" placeholder="Enter your name" class="form-control" style="border-radius:10px">
                </div>
                <div class="form-group">
                    <label for="email">Email address*</label>
                    <input id="email" name="email" type="email" value="" required 
                    placeholder="your.name@email.com" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="phone">
                        Contact
                        Number*</label>
                    <input type="number" class="form-control" id="number" style="border-radius:10px"
                    name="number" aria-describedby="Contact" placeholder="Enter you Conatct Number ">
                </div>
                <div class="form-group">
                        <label for="comment">Description:</label>
                        <textarea class="form-control" rows="5" id="comment" placeholder="Tell us you want to know"></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfOxMMUAAAAADQjoNbTog_xAlZ77d-TJ3Oh0X71"
                data-callback="verifyCaptcha"></div>

                <div class="form-group form-check">
                    <button type="submit" (click)="ShowPop();" value="Submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>