<!-- Banner Area Starts -->
<section class="banner-area-m m-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="txtshadow color-fff">Drones and <br>UAVs Tracking<br>Application</h1>
                <h2 class="txtshadow color-fff">Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
                <a href="" class="template-btn mt-3">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 40px;">
    <div>
        <div class="container">
            <div class=" row ">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800">Tracking your entire fleet</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB;">Access Real-Time Location and Route History of your fleet
                    </h2>
                    <p>Onelap's user-friendly app lets you access your vehicle's live location and travel history on the go. The highly sensitive Onelap chip sends the exact location of your vehicle so you can track every step of the journey and if your
                        drivers are making any unnecessary stoppages, going too fast, too slow or taking any unnecessary detours.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class=" row ">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800">Reduce the Costs</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB;">With Extensive Data optimise the costs involved
                    </h2>
                    <p>With access to data such as Total distance covered, maximum speed, minimum speed and Idling time you can plan your next trip in an optimum manner so that your cost overruns are minimised and your performances optimised. This also helps
                        to predict the fuel spend and how it could be effectively reduced.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class=" row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800;display: inline-block">Monitor your Personnel</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB">Train and Monitor your employees with Personalised Data
                    </h2>
                    <p>With access to extensive data like maximum/minimum speeds of every vehicle, you can monitor each driver separately and predict their driving habits so that any potentially harmful accidents due to driver negligence and related delays
                        could be averted which can contribute to rising costs in this sector, so efficient monitoring could keep it under check and drivers can be trained to improve their performance.</p>
                </div>
            </div>
        </div>


        <div class="container padding-res">
            <div class="card1 box-shadow">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3"><img src="assets/images/applications/Asset 7-100.jpg" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 ">
                        <h2 class="headings2">Choose the Hardware best suited for your Business</h2>
                        <p class="para2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                        <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
                            Hardware</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800;display: inline-block">Minimise risk of theft</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB">Increased safety and fast tracking in case of any theft
                    </h2>
                    <p>Transport business is hugely dependent on the reputation and image of the brand so to safeguard the image, timely and secure transit of all the goods is necessary. Theft of the delivery vehicle is a source of major concern in this
                        process. To safeguard against any such activity Onelap provides features such as Remote Engine Immobilisation and live tracking so you can keep a close eye on every movement of your assets.
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<!-- Feature Area Starts -->
<section class="feature-area pt-0 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 text-center">
                <h2>OneLap News</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider1.jpg" class="w-100">
                    <h4>Car Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider2.jpg" class="w-100">
                    <h4>AIS 140 Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
        </div>
    </div>
</section>