<div class="home" style="max-height: 100%">
  <section class="hero-wrap d-flex bg">

    <div class="forth d-flex front">
      <div class="text lineheight2">
        <h1>Drones and<br>
          UAVs Tracking<br>
          Application</h1>
        <h2>
          Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
        <button type="button" class="btn btn-white "
          style="margin-left: 10%;background-color: white;width: 150px;">Learn
          more</button>
      </div>
    </div>
  </section>
</div>
<section style="padding-top: 40px;">
  <div style="display: inline-block">
    <div class=" row " style="padding: 4%">
      <div class="col-12 col-md-6 col-lg-6">
        <h1 class="headings" style="font-weight: 800;display: inline-block"> Locate lost devices accurately
        </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 style="color: #3390CB">Find the exact location of your Drone or UAV
        </h2>
        <p>With accurate real time location you can be certain that your device will be traced without
          hassle in case it crash lands or goes out of sight. The GPS unit contains an additional battery
          backup of upto 6-7 hours so that even if your UAV is discharged you can get the exact location
          details to easily track it down.
        </p>
      </div>
    </div>
    <hr>

    <div class=" row " style="padding: 4%">
      <div class="col-12 col-md-6 col-lg-6">
        <h1 class="headings" style="font-weight: 800;display: inline-block">Geofencing</h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 style="color: #3390CB">Get instant alerts anytime your device goes out of range
        </h2>
        <p>You have the ability to set boundries in terms of location in which you want your device to
          operate, if it exceeds those boundaries you get instant alerts on your app regarding this and
          you can remotely switch off the device reducing the likelihood of losing the device.
        </p>
      </div>
    </div>

    <hr>

    <div class=" row" style="padding: 4%">
      <div class="col-12 col-md-6 col-lg-6">
        <h1 class="headings" style="font-weight: 800;display: inline-block">Track your device's route</h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 style="color: #3390CB">Accurately trace the route taken by the device
        </h2>
        <p>You can know the whereabouts of your device and make sure that your device is not being used in
          any prohibited area such as Airports as that can cause legal trouble for you or activities such
          as eavesdropping and spying on someone. You have a detailed and precise report of every location
          visited by your device</p>
      </div>
    </div>
    <div style="padding: 4%;">
      <div class="card1 " style="margin-top: 100px;margin-bottom: 100px">
        <div class="row container">
          <div class="col-12 col-md-6 col-lg-3"><img src="./images/applications/Asset 7-100.jpg" class="img-fluid">
          </div>
          <div class="col-12 col-md-6 col-lg-9 ">
            <h2 class="headings2">Choose the Hardware best suited for your Business</h2>
            <p class="para2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud </p>
            <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
              Hardware</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 4%">
      <div class="col-12 col-md-6 col-lg-6">
        <h1 class="headings" style="font-weight: 800;display: inline-block"> Realize increased of
          your business </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <h2 style="color: #3390CB">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
      </div>
    </div>
    <hr>

    <h3 class="headings">OneLap News</h3>
    <div class="container">
      <div class="block-content hw-card">
        <div class="row card-wrap">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                Bike Trackers </div>
              <div class=" text-center">
                <img src="/images/step1.png">
              </div>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                Car Trackers </div>
              <div class=" text-center">
                <img src="/images/remotelock.png">
              </div>

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card card-adaptive">
              <div class="card-title text-center">
                AIS 140 Trackers </div>
              <div class=" text-center">
                <img src="/images/livetracking.png">
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>


</section>