<!-- Footer Area Starts -->
<section class="fdb-block footer-area ">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img class="logo" src="/assets/images/footer.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">

                        <ul>
                            <li class="mb-2"><a>Help center</a></li>
                            <li class="mb-2"><a>English</a></li>
                            <li class="mb-2"><a>Dehli NCR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">About Us</h3>
                        <ul>
                            <li class="mb-2"><a href="https://www.onelap.in/blog/">Blogs</a></li>
                            <!-- <li class="mb-2"><a href="#">Carriers</a></li> -->
                            <!-- <li class="mb-2"><a href="#">Payment Portal</a></li> -->
                            <li><a href="#callback">Contact US</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">Help and Support</h3>

                        <ul>
                            <!-- <li class="mb-2"><a href="#">faqs</a></li> -->
                            <li class="mb-2"><a href="#">terms and conditions</a></li>
                            <li class="mb-2"><a href="#">cookies and Policys</a></li>
                            <li><a href="#">Privacy and Policy</a></li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="col-xl-3 col-lg-3">
                <div class=" row single-widge-home">
                    <div class="col-6">
                        <a target="_blank"
                            href="https://play.google.com/store/apps/details?id=in.onelap.gpstracker&hl=en"><img
                                alt="example-image" src="assets/images/12.png"></a></div>
                    <div class="col-6">
                        <a><img alt="example-image" src="assets/images/11.png"></a></div>
                </div>
            </div>
            <img class="dash col-12" alt="example-image" src="/assets/images/15-a.png">
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> 2019 Onelap Telematics Pvt. Ltd. all
                        rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/onelap.gps/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://onelap.in/"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/onelap/about/"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/onelap.in/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Area End -->