<!-- Banner Area Starts -->
<section class="banner-area-m m-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="txtshadow color-fff">Rental bikes <br>And Taxi<br>Business</h1>
                <h2 class="txtshadow color-fff">Lorem ipsum dolor sit amet, consectetuer adipisc-</h2>
                <a href="" class="template-btn mt-3">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 40px;">
    <div>
        <div class="container">
            <div class=" row ">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800">Check the Total Distance and Fare</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB;">Calculate the distance covered and corrosponding fare accurately
                    </h2>
                    <p>With Real-Time location service and the total distance covered, you have an estimate of the fare that has to be paid by your customer and you have a detailed record of all the activities so that there is no conflict between you and
                        your customer at the time of payment. This can also be used as proof if a customer uses your vehicle for any illegal activity.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class=" row ">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800">Geofencing</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB;">Set the limits of usage for your vehicle
                    </h2>
                    <p>WWith this feature, you have the ability to decide the boundaries in which your vehicle will be allowed and anytime your vehicle exits that specifically defined boundary you'll get an instant notification. Keeping in mind the possibilities
                        of theft involved in this business, this feature proves particularly beneficial. This also ensures that the customer remains within the area for which he has paid for.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class=" row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800;display: inline-block">Recovery of stolen vehicles</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB">Easily disable and retrieve vehicles
                    </h2>
                    <p>The theft of vehicles is one of the major issues that is plaguing rental companies but with real-time access to the vehicle's whereabouts that concern is alleviated and with features such as Remote Engine Immobilisation you have the
                        ability to secure and retrieve your vehicle.</p>
                </div>
            </div>
        </div>


        <div class="container padding-res">
            <div class="card1 box-shadow">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3"><img src="    /assets/images/applications/onelap-rentaltaxi.jpg" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 ">
                        <h2 class="headings2">Choose the Hardware best suited for your Business</h2>
                        <p class="para2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud </p>
                        <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
                            Hardware</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="headings" style="font-weight: 800;display: inline-block">Overspeeding alerts</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2 style="color: #3390CB">Get alerts every time the vehicle crosses speed limits
                    </h2>
                    <p>You can stipulate the speed limits as is permitted by the law and if the customer violates that limits that they are liable for sanctions and fines. This is helpful to control the overspeeding related accidents that could be harmful
                        to both the customer and the company</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<!-- Feature Area Starts -->
<section class="feature-area pt-0 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 text-center">
                <h2>OneLap News</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider1.jpg" class="w-100">
                    <h4>Car Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider2.jpg" class="w-100">
                    <h4>AIS 140 Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
        </div>
    </div>
</section>