<section class="sticky sticky2">
  <div class="text">
    <h1 class="animated fadeInRight">Rental Bike<br>
      and Taxi<br>
      Business</h1>
    <p class="animated fadeInLeft">
      Lorem ipsum dolor sit amet, consectetuer adipisc-</p>
    <p><a class="btn btn-primary mt-4" href="">Learn More</a></p>
  </div>

</section>
<section class="sticky sticky2">
  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1> Check the Total Distance and
        Fare
      </h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 cla>Easily disable and retrieve vehicles
      </h2>
      <p>The theft of vehicles is one of the major issues that is plaguing rental companies but with
        real-time access to the vehicle's whereabouts that concern is alleviated and with features such
        as Remote Engine Immobilisation you have the ability to secure and retrieve your vehicle.

      </p>
    </div>
  </div>
  <hr>

  <div class=" row ">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Geofencing</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Set the limits of usage for your vehicle
      </h2>
      <p>With this feature, you have the ability to decide the boundaries in which your vehicle will be
        allowed and anytime your vehicle exits that specifically defined boundary you'll get an instant
        notification. Keeping in mind the possibilities of theft involved in this business, this feature
        proves particularly beneficial. This also ensures that the customer remains within the area for
        which he has paid for.

      </p>
    </div>
  </div>

  <hr>

  <div class=" row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1>Recovery of stolen vehicles</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Easily disable and retrieve vehicles
      </h2>
      <p>The theft of vehicles is one of the major issues that is plaguing rental companies but with
        real-time access to the vehicle's whereabouts that concern is alleviated and with features such
        as Remote Engine Immobilisation you have the ability to secure and retrieve your vehicle.

      </p>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="row container">
        <div class="col-12 col-md-6 col-lg-3"><img src="/assets/images/applications/onelap-rentaltaxi.jpg"
            class="img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-9 p-3 ">
          <h2 class="text-right">Choose the Hardware best suited for your Business</h2>
          <p class="text-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
            minim veniam, quis nostrud </p>
          <button type="button" class="btn btn-primary" style="font-size:15pt;float:right;">Select
            Hardware</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1> Overspeeding alerts </h1>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h2 class="appicationpara">Get alerts every time the vehicle crosses speed limits
      </h2>
      <p>You can stipulate the speed limits as is permitted by the law and if the customer violates that
        limits that they are liable for sanctions and fines. This is helpful to control the overspeeding
        related accidents that could be harmful to both the customer and the company</p>
    </div>
  </div>
  <hr>

  <h3>OneLap News</h3>
  <div class="container">
    <div class="block-content hw-card">
      <div class="row card-wrap">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Bike Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/step1.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              Car Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/remotelock.png">
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card card-adaptive">
            <div class="card-title text-center">
              AIS 140 Trackers </div>
            <div class=" text-center">
              <img src="/assets/images/livetracking.png">
            </div>

          </div>
        </div>


      </div>

    </div>
  </div>




</section>