.bg {
    background-image: url(/src/assets/banners/rental\ txi\ bg-100.jpg);
    max-height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrap {
    position: relative;
    width: 100%;
    }
    @media (min-width: 576px) {
      .hero-wrap .d-flex{
       height: 200px; } }
    @media (min-width: 768px) {
      .hero-wrap .d-flex {
        height: 200px;} }
  
    .hero-wrap .forth {
      width: 30%;
      height: 750px; }
      @media (max-width: 767.98px) {
        .hero-wrap .forth {
          width: 0%;
             } }
      .hero-wrap .forth .bg-after {
        position: relative;
        width: 100%;
        height: 100%; }
        @media (min-width: 992px) {
          .hero-wrap .forth .bg-after:after {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: #000000; } }
      .hero-wrap .forth .text {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: rgb(41, 40, 40);
        z-index: 1;
         }
        
        @media (min-width: 768px) {
          .hero-wrap .forth .text {
            text-align: center;
          padding-top: 180px;} }
        .hero-wrap .forth .text .desc {
          width: 40%; }
          @media (max-width: 767.98px) {
            .hero-wrap .forth .text .desc {
              width: 100%; }
              .hero-wrap .forth .text .desc h1, .hero-wrap .forth .text .desc h2,.hero-wrap .forth .text .desc p {
                color: rgb(201, 184, 184); } }
                .hero-wrap .forth .text em{
                
                color:#33C09B
                }       
        
        .hero-wrap .forth .text h1 {
          font-weight: 600;
          font-size: 50px;
          margin-bottom: 40px;
          color: rgb(255, 255, 255);
          line-height: 1.2; }
          @media (max-width: 991.98px) {
            .hero-wrap .forth .text h1 {
              font-size: 40px; } }
        .hero-wrap .forth .text h2 {
          font-size: 20px;
          font-weight: 100;
          justify-content: center;
          
          
          color: rgba(56, 55, 55, 0.705); }
        .hero-wrap .forth .text .btn-custom {
          position: relative;
          border: none;
          color: #6abbdb;
          z-index: 0;
          letter-spacing: 1px; }
          .hero-wrap .forth .text .btn-custom:after {
            position: absolute;
            top: 0;
            right: -40px;
            bottom: 0;
            content: '';
            width: 100%;
            background: #6abbdb;
            z-index: -1; }
          .hero-wrap .forth .text .btn-custom:before {
            position: absolute;
            top: 50%;
            right: -30px;
            width: 30px;
            height: 2px;
            content: '';
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: #6abbdb; }
    .hero-wrap .third {
      width: 80%;
      position: relative;
      height: 750px; }
      @media (max-width: 767.98px) {
        .hero-wrap .third {
          width: 100%; } }
      .hero-wrap .third .icon {
        position: absolute;
        top: 65%;
        left: 0;
        width: 100px;
        height: 100px;
        background: #fff;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: -50px;
        z-index: 1;
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        @media (max-width: 767.98px) {
          .hero-wrap .third .icon {
            top: 80%; } }
        .hero-wrap .third .icon span {
          color: #ffbd39; }
          