<section class="fdb-block p-5">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
            <h2 data-aos="fade-right">Track Almost Everything</h2>
            <img alt="example-image" style="width:25%;height:2px;margin-top: -15px" src="assets/images/15.png">
            <p>
                Track all types of vehicles, Drones and UAV’s,Bikes, and assests with Onelap GPS trackers
            </p>
        </div>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="1">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_cargo.jpg" class="img-fluid m-auto" style="width: 200px;">
                    <p class="d text-center">Cargo</p>
                </div>
            </ng-template>
            <ng-template carouselSlide [id]="2">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_vehicle.jpg" class="img-fluid m-auto" style="width: 200px;">

                    <p class="d text-center">Cars</p>

                </div>
            </ng-template>
            <ng-template carouselSlide [id]="3">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_atv.jpg" class="img-fluid m-auto" style="width: 200px;">

                    <p class="d text-center">ATV</p>

                </div>
            </ng-template>
            <ng-template carouselSlide [id]="4">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_boats.jpg" class="img-fluid m-auto" style="width: 200px;">

                    <p class="d text-center">Boats</p>

                </div>
            </ng-template>
            <ng-template carouselSlide [id]="5">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_earthmovers.jpg" class="img-fluid m-auto" style="width: 200px;">

                    <p class="d text-center">JCB</p>

                </div>
            </ng-template>
            <ng-template carouselSlide [id]="6">
                <div class="m-auto">
                    <img alt="example-image" src="assets/images/sam_img_trailer_sweden3.png" class="img-fluid m-auto" style="width: 200px;">

                    <p class="d  text-center">Trailers</p>
                </div>
            </ng-template>


        </owl-carousel-o>
    </div>
</section>