<section class="fdb-block pt-5 pb-0">
    <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <p class="head-sec">Client's Stories</p>
                        <p>Customers across the world use Onelap to<br>track, analyze and improve their fleet operations.
                        </p>
                    </div>
                </div>
        <div class=" row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-6 col-xl-8 text-center" id="paradiv">
                <div class="row justify-content-center">
                    <img alt="example-image" src="assets/images/stars.png">
                </div>
                <div class="row">
                    <p id="client" class="ftco-animate comment">I am bike rider, I used to go on long rides with my gang  I recently own a Himalayan and need one GPS tracker that can provide useful insights to my days of trips. This device, I feel really stand apart from all the dull and cocky gps tracker in terms of accuracy, responsiveness and reliability.
                       </p>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                <img alt="example-image" id="client2" src="assets/images/man14.jpg" class="img-fluid">
            </div>
        </div>

        <div class="container" style="padding-top: 60px">
            <div class="row justify-content-center">

                <div onclick="mypic2()" class="col-4 col-lg-2 ftco-animate">
                    <div onclick="myComment1() " class="blog-entry" data-aos-delay="100">
                        <div class="row">
                            <div class="col text-center " onclick="myeffect2()"><img alt="example-image" style="padding-top: 20px;cursor:pointer;" id="one" src="assets/images/man2.png">
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <h6 class="p-3 mb-0 text-center" style="font-size: 14px;" id="change1"><a>Dinesh
                                        Natesan</a>
                                </h6>
                                <p style="color: #989898;font-size: 11px;;line-height:1;" id="1">Rubbernecks Member<br> Tamil Nadu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="mypic3()" class="col-4 col-lg-2 ftco-animate">
                    <div onclick="myComment3()" class="blog-entry" data-aos-delay="100">
                        <div class="row">
                            <div class="col text-center " onclick="myeffect3()"><img alt="example-image" style="padding-top: 36px;cursor:pointer;" id="three" src="assets/images/man3.png">
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <h6 class="p-3 mb-0 text-center" style="font-size: 14px;" id="change3"><a>Sridhar
                                    Ramula</a>
                                </h6>
                                <p style="color: #989898;font-size: 11px;;line-height:1;" id="2">Limca Book of Records<br>Mumbai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="mypic1()" class="col-4 col-lg-2 ftco-animate ">
                    <div onclick="myComment2()" class="blog-entry" data-aos-delay="100">
                        <div class="row">
                            <div class="col text-center" onclick="myeffect1()"><img alt="example-image" style="cursor:pointer;padding-top:30px; " id="two" src="assets/images/man1.png">
                            </div>
                        </div>
                        <div>
                            <div class="text-center">
                                <h6 class="p-3 mb-0 text-center" style="font-size: 14px;" id="change2"><a>Sariyonba</a>
                                </h6>
                                <p style="color: #989898;font-size: 11px;line-height: 1;" id="3">
                                    Dimapur MCD <br>
                                    Nagaland
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section_padding map-pt">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="map-container mt-s">
                        <img src="/assets/images/map-solutions.svg" alt="map" style="width: 100%">
                        <div class="indicator indicator-west">
                            <span class="indicator-item"></span>

                        </div>
                        <div class="indicator indicator-west">
                            <span class="indicator-item"></span>
                        </div>
                        <div class="indicator indicator-west">
                            <span class="indicator-item"></span>

                        </div>
                        <div class="indicator indicator-east" style="display:none">
                            <span class="indicator-item"></span>

                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-5 floating">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div>
                                <h2 class="" style="font-size:30px;color:#33C09B;font-weight:bold">
                                    100+</h2>
                                <p class="mapdetail">Cities covered by our tracking device</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div>
                                <h2 class="" style="font-size:30px;color:#33C09B;font-weight:bold">
                                    3+</h2>
                                <p class="mapdetail">GPS tracking Devices offered us</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div>
                                <h2 class="" style="font-size:30px;color:#33C09B;font-weight:bold">
                                    24+</h2>
                                <p class="mapdetail">Small Businesses associated with us</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-5">
                            <div>
                                <h2 style="font-size:30px;color:#33C09B;font-weight:bold">10<sup style="color:#33C09B;">th</sup></h2>
                                <p class="mapdetail">Bestsellers Ranked by amazon in trackers </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>