<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-md-flex">
                    <h6 class="mr-3 color-fff"><span class="mr-2"><img src="assets/images/asset6.png"
                                class="animate pulse" height="25px"></span> Request a callback to get BEST DIWALI offer
                        and deals</h6>
                </div>
                <div class="col-lg-5">
                    <div class="social-links">
                        <ul>
                            <li class="color-fff"><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 782
                                    7217 494</a></li>
                            <li class="color-fff"><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> 1800 103
                                    0274</a></li>
                            <li class="color-fff"><a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" class="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a routerLink="/home"><img src="assets/images/13.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li class="menu-has-children"><a class="color-00    0" routerLink="/">Hardwares</a>
                            <ul>
                                <li><a routerLink="/Gpstrackers">Gpstrackers</a></li>
                                <li><a routerLink="/hardwares">Devices</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a class="color-000" class="color-000" routerLink="">M2M
                                Simcards</a>
                            <ul>
                                <li> <a routerLink="">What is M2M Simcards</a></li>
                                <li><a routerLink="">Select your Plan</a></li>
                                <li> <a routerLink="">Simcard News</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a class="color-000" routerLink="">Software Platform</a>
                            <ul>
                                <li><a routerLink="">Mobile and Web</a></li>
                                <li><a routerLink="">APIDocumentation</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a class="color-000" routerLink="">Applications</a>


                            <!--   DON NOT DELETE THIS -- Coderpen -->
                            <ul class="width-handle">
                                <li>
                                    <a class="switch" routerLink="/logistics">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages" src="/assets/images/dropdown/logistics.png">
                                                </div>


                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4>Logistics</h4>
                                                    <p class="col">
                                                        OTR tracking, Owner/operator, Long run, For hire transporters,
                                                        Fleet
                                                        management
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="switch" routerLink="/municipal">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages"
                                                        src="/assets/images/dropdown/municipal_corporation.png">
                                                </div>
                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4>Municipal Corporation</h4>

                                                    <p class="col ">
                                                        Municipal authorities, Fire troops, Road maintenance, Public
                                                        sector
                                                        Operations
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="switch" routerLink="/drones">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead ">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages" src="/assets/images/dropdown/dorne.png">
                                                </div>

                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4>Drones and UAVs</h4>
                                                    <p class="col ">
                                                        Navigation, Surveillance, Surveying and Mapping in autonomous
                                                        Drones
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="switch" routerLink="/heavyEquipments">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead ">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages"
                                                        src="/assets/images/dropdown/heavy_machines.png">
                                                </div>
                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4 class="navhead">Heavy Equipments</h4>

                                                    <p class="col ">
                                                        Applied Engineering, Domestic Builders Restorers and marine
                                                        construction
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="switch" routerLink="/rentalbikes">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead ">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages"
                                                        src="/assets/images/dropdown/rental_bikes.png">
                                                </div>
                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4 class="navhead">Rental Bikes/Cars</h4>
                                                    <p class="col ">
                                                        Real time tracking, prevent thefts and Transparent billing of
                                                        your
                                                        fleets
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="switch" routerLink="/delivery">
                                        <div class="width-handle-c container ">
                                            <div class="row align-items-center navhead ">
                                                <div class="col-2 mb-4 mb-md-0 ">
                                                    <img class="dropimages" src="/assets/images/dropdown/delivery.png">
                                                </div>
                                                <div class="col-10 ml-md-auto text-left ">
                                                    <h4 class="navhead">Delivery Monitoring</h4>
                                                    <p class="col ">
                                                        AI and driver data join forces to help you enhance our business
                                                        performance
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!--   DON NOT DELETE THIS -- Coderpen -->
                        </li>
                        <li><a class="color-fff btn btn-primary " routerLink=" ">Register</a></li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </div>
</header>