<div class="container">
  <div class="row justify-content-center mb-3 pb-1">
    <div class="col-md-7 heading-section ftco-animate text-center">
      <h2>Integrated Hardwares</h2>
      <img style="width:45%;height:2.5px" src="/src/assets/images/15.png">

    </div>
  </div>
  <p>Onelap vehicle tracking
    system is universal.
    It’s currently
    integrated with <strong>more than 1500
      models</strong> of GPS
    tracking devices, including personal GPS trackers, automobile controllers and software-based "trackers"
    installed as mobile apps on smartphones. Every minute our server center receives about half a million data
    packets from the tracking devices deployed worldwide. </p>
</div>
<div class="container">
  <div class="block-content hw-card">
    <div class="row card-wrap">
      <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            Bike Trackers </div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a1.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            Car Trackers </div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a2.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            AIS 140 Trackers </div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a3.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            Personal Trackers</div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a4.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            Asset Trackers</div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a5.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="card card-adaptive grow">
          <div class="card-title text-center">
            Mobile Software </div>
          <div class=" text-center">
            <img class="card-icon" src="/src/assets/images/a6.jpg">
          </div>
          <a href="" class="btn btn-block">
            Select </a>
        </div>
      </div>
    </div>

  </div>
</div>