.card {
    border: 1px solid rgba(0, 0, 0, 0.294);
    padding: 30px;
    margin-bottom: 35px;
}

.card-adaptive {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.card-icon {
    width: auto;
    width: 8.5rem;
    height: 8rem;
}
.cstm-btn {
    border: 1px solid rgba(0, 0, 0, 0.294);
    color: rgba(0, 0, 0, 0.603);
    font-weight: normal;
    background-color: white;
    width: 90%;
    text-align: center;
    

}
.cstm-btn:hover {
    opacity: 0.8;
    background-color: #000000;
    color: white;
}