<!-- Contents 3 -->
<section class="fdb-block m-top pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2>Integrated Hardwares</h2>
                <img style="width:45%;height:2.5px" src="assets/images/15.png">
                <p class="lead">Onelap vehicle tracking system is universal. It’s currently integrated with <strong>more than 1500
                        models</strong> of GPS tracking devices, including personal GPS trackers, automobile controllers and software-based "trackers" installed as mobile apps on smartphones. Every minute our server center receives about half a million
                    data packets from the tracking devices deployed worldwide. </p>
            </div>
        </div>
    </div>
</section>
<div class="container section-padding">
    <div class="block-content hw-card">
        <div class="row card-wrap">
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        Bike Trackers </div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a1.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        Car Trackers </div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a2.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        AIS 140 Trackers </div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a3.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        Personal Trackers</div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a4.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        Asset Trackers</div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a5.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="card card-adaptive grow">
                    <div class="card-title text-center">
                        Mobile Software </div>
                    <div class=" text-center">
                        <img class="card-icon" src="assets/images/a6.jpg">
                    </div>
                    <a class="color-fff m-4 btn btn-primary " routerLink="/">Select</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Feature Area Starts -->
<section class="feature-area pt-0 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 text-center">
                <h2>OneLap News</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider1.jpg" class="w-100">
                    <h4>Car Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider2.jpg" class="w-100">
                    <h4>AIS 140 Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
            <div class="col-lg-3 mb-20 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="assets/images/blog-slider3.jpg" class="w-100">
                    <h4> Bike Trackers</h4>
                </div>
            </div>
        </div>
    </div>
</section>