<section class="fdb-block">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Features</h2>
                <img alt="example-image" style="width:8%;height:3px;margin-top: -10px" src="assets/images/15.png" class="img-fluid">
                <p class="para">Next Generation GPS tracking software assisting you to manage your assets from anywhere
                </p>
            </div>
        </div>

        <div class="row text-center justify-content-center mt-5">
            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/geofence.svg">
                <h3>Geofence</h3>
                <p>Mark office,home, any place as safe-zone</p>
            </div>

            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/analytics.svg">
                <h3>Analytics</h3>
                <p>Graphical Report of the Vehicles location</p>
            </div>

            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/antitheft.svg">
                <h3>Anti Theft</h3>
                <p>Get notified in case of theft by alarm notification.</p>
            </div>
        </div>

        <div class="row text-center justify-content-center mt-5">
            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/instantalerts.svg">
                <h3>Instantalerts</h3>
                <p>Recieve live alert for about the vehicles</p>
            </div>

            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/monthlybackup.svg">
                <h3>Monthly Backup</h3>
                <p>Capability of storing data on the cloud server</p>
            </div>
            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/remotelock.svg">
                <h3>Remote Lock</h3>
                <p>You can select any date for Route history</p>
            </div>
        </div>
        <div class="row text-center justify-content-center mt-5">
            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/routehistory.svg">
                <h3>Route Hostory</h3>
                <p>Get Total Distance, Run Time, Stoppage Time</p>
            </div>

            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/dailystats.svg">
                <h3>Daily stats</h3>
                <p>Real time location and Address, from any date</p>
            </div>

            <div class="col">
                <img alt="image" class="fdb-icon" src="assets/images/livetracking.svg">
                <h3>Live Tracking</h3>
                <p>Lock your vehicle using your smart</p>
            </div>
        </div>
    </div>
</section>
<section class="fdb-block py-0" style="background-color: #33C09B;">
    <div class="container bg-r ">
        <div class="row py-5 ">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center text-sm-center text-md-center text-lg-left text-xl-left m-auto">
                <h2 class="color-fff">Tracking your Vehicle is now at your fingertips</h2>
                <img alt="example-image" style="width:20%;height:3px;margin-top: -10px" src="assets/images/15-a.png" class="img-fluid">
                <p class="color-fff text-center text-sm-center text-md-center text-lg-left">
                    A user friendly interface that makes it a better choice for business as well as personal use
                </p>
                <div class="row center">
                    <div class="col side">
                        <a href=" "><img alt="example-image " src="assets/images/11.png " class="ftco-animate " style="padding-right: 10px "></a>
                        <a target="_blank " href="https://play.google.com/store/apps/details?id=in.onelap.gpstracker&hl=en "><img alt="example-image " class="ftco-animate " src="assets/images/12.png "></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-auto size-check">
                <img src="assets/images/10.png " class="w-100">
            </div>
        </div>
    </div>
</section>