/* Changing header color and heading weight for features section */

h3 {
    color: #33C09B;
    font-weight: 400;
    text-transform: none;
    text-align: left;
}

.banner h2 {

    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #ffffff;
}
.items p{

    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.67px;
    text-align: left;
    color: #969696;
}
@media(max-width:576px){
    .items p{
        text-align: inherit;
    }   
}
@media(max-width:576px){
    h3{
        text-align: inherit;
    }   
}